{% extends 'blog/layout.html' %}

{% block title %}
comment
{% endblock %}

{% block content %}<form action="/main/" method="post">
    {% csrf_token %}
    <a href="http://127.0.0.1:8000/blog/">Back to blog</a>
    {{user.username}}
    <a href="#" onclick="addCreate()">Create commnet</a>
        <script>
        function addCreate() {
            var currentUrl = window.location.href;
            var newUrl = currentUrl + "create/";
            window.location.href = newUrl;
        }
        </script>
    <class name='blog_content'>
        <div>
            <block>
                {% if blog_comment %}
                    <h1>{{ blog_comment.blog_header }}</h1>
                    <p>{{ blog_comment.blog_text }}</p>
                    <p>Author: {{ blog_comment.blog_author }}</p>
                    <p>Date: {{ blog_comment.date }}</p>
                    <br>
                    {%if blog_comment.commentmodel_set.all%}
                            {% for comment in blog_comment.commentmodel_set.all %}
                            <p>{{ comment.comment }}</p>
                            <p>By: {{ comment.comment_author.username }}</p>
                            <p>Posted at: {{ comment.comment_time }}</p>
                            <a href="http://127.0.0.1:8000/blog/comments/{{comment.pk}}/update">Update</a>
                            <a href="http://127.0.0.1:8000/blog/comments/{{comment.pk}}/delete">Delete</a>
                            <br>
                        {% endfor %}
                    {% else %}
                    {%endif%}
                        <p>No comments</p>
                {% else %}
                    <p>Post not found</p>
                {% endif %}

        </block>
        </div>
    </class>
</form>{% endblock %}